<!DOCTYPE html>
<html lang="ja">
  <link rel="stylesheet" href="./stylesheets/contact.css">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-left">    
  <h2 style="color:#5e1c45;">D坂ガス</h2><br>
  <div class="row">
  </div>
  <div class="jumbotron">
    <img src="./img/gasokokuBanner.png" alt="キャンペーンバナー" />
    <div class="container-fluid bg-3 text-center">
      <h2 style="color:#0c0c0c;">あなたのご利用履歴</h2>
      <div class="claim">
        <table border="2">
          <tbody>
            <tr>
              <td>2019年<br>11月</td>
              <td>2019年<br>12月</td>
              <td>2020年<br>1月</td>
            </tr>
            <tr>
              <td class="price">5,432円</td>
              <td class="price">5,678円</td>
              <td class="price">5,555円</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="container-fluid bg-3 text-center">
      <h2 style="color:#0c0c0c;">あなたにオススメの料金プラン</h2>
      <button type="button" class="campaignButton" onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'campaignSubmit'});"><a href="/"><img src="./img/campaignButton.png" alt="申し込みボタン" /></a></button>
    </div>
  <p>
    <button type="button" class="btn btn-default" onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Default'});">Default</button>
    <button type="button" class="btn btn-primary" onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Primary'});">Primary</button>
    <button type="button" class="btn btn-success" onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Success'});">Success</button>
    <button type="button" class="btn btn-info"    onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Info'});">Info</button>
    <button type="button" class="btn btn-warning" onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Warning'});">Warning</button>
    <button type="button" class="btn btn-danger"  onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Danger'});">Danger</button>
  </p>
  </div>
</div>
</body>
<% include partials/script %>
</html>
