<!DOCTYPE html>
<html lang="ja">
  <link rel="stylesheet" href="./stylesheets/index.css">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-left">    
  <h2 style="color:#c71585;">D坂ガス</h2><br>
  <div class="row">
  </div>
  </br>
  <div class="jumbotron">
    <h4> - 今月の請求金額</h4>
    <div class="claim">
      <table border="2">
        <tbody>
          <tr>
            <td rowspan="2" class="head">2020年<br>2月</td class="head">
            <td>ご請求額</td>
            <td>1,111円</td>
          </tr>
          <tr>
            <td class="price">ご使用料</td>
            <td class="price">111<span>kWh<span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="campaignButton"><a href="/contact"><img src="./img/gasokokuBanner.png" alt="キャンペーンバナー" /></a></button>
    <table>
      <td class="detailMenuButton"><img src="./img/webkenshin.png" alt="web検針票" width="200" height="200"/></td>
      <td class="detailMenuButton"><img src="./img/usehistory.png" alt="ご利用履歴" width="200" height="200"/></td>
      <td class="detailMenuButton"><img src="./img/campaign.png" alt="キャンペーン" width="200" height="200"/></td>
      <td class="detailMenuButton"><img src="./img/infomation.png" alt="お問い合わせ" width="200" height="200"/></td>
    </table>
  </div>
</div>

</body>
<% include partials/script %>
</html>
