<!DOCTYPE html>
<html lang="ja">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  </br>
  <div class="jumbotron">
    <h2>アジャイル開発workshop</h1>
    <p>WEBサイトにおける主要コンテンツを紹介するのに適したスタイル。</p>
    <p><a class="btn btn-primary btn-lg" href="javascript:void(0);" role="button">もっと詳しく</a></p>
    <p>
      <button type="button" class="btn btn-default" onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Default'});">Default</button>
      <button type="button" class="btn btn-primary" onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Primary'});">Primary</button>
      <button type="button" class="btn btn-success" onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Success'});">Success</button>
      <button type="button" class="btn btn-info"    onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Info'});">Info</button>
      <button type="button" class="btn btn-warning" onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Warning'});">Warning</button>
      <button type="button" class="btn btn-danger"  onclick="gtag('event', 'click', {'event_category': 'button','event_label': 'Danger'});">Danger</button>
    </p>
  </div>
</div>

</body>
<% include partials/script %>
</html>
