<!DOCTYPE html>
<html lang="ja">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  </br>
  <div class="jumbotron">
    <h2>アジャイル開発workshop</h1>
    <p>WEBサイトにおける主要コンテンツを紹介するのに適したスタイル。</p>
    <p><a class="btn btn-primary btn-lg" href="javascript:void(0);" role="button">もっと詳しく</a></p>
  </div>
</div>

</body>
<% include partials/script %>
</html>
