table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

table tr:last-child {
  border-bottom: solid 1px #ddd;
}

table th {
  text-align: center;
  padding: 7px 0;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
}

table th {
  background-color: #f5b932;
  color: white;
}

table tr td {
  font-size: 30px;
}

table td {
  text-align: center;
  padding: 7px 0;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
}

.box {
  border-radius: 10px;
  /*角の丸み*/
  width: 100%;
  padding: 0.5em 1em;
  margin: 2em 0;
  background-color: #fff;
  border: dashed 2px #e4a213;
  /*点線*/
}

.campaighn_price {
  font-size: 40px;
  color: #FF0000;
  text-decoration-color: #FF0000;
  /*下線を赤色*/
}

.campaignButton {
  padding: 0;
  border: none;
  width: 100%; /* for IE6-7 */
  height: 150px; /* for IE6-7 */
  background: transparent;
}