.campaignButton {
  padding: 0;
  border: none;
  width: 100%;
  /* for IE6-7 */
  height: 156px;
  /* for IE6-7 */
  background: transparent;
}

.claim {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}


table th {
  text-align: center;
  padding: 7px 0;
  background-color: #f5b932;
  color: white;
  font-size: 20px;
}

table tr td {
  font-size: 30px;
}

table td {
  text-align: center;
  padding: 7px 0;
}

.box {
  border-radius: 10px;
  /*角の丸み*/
  width: 100%;
  padding: 0.5em 1em;
  margin: 2em 0;
  background-color: #fff;
  border: dashed 2px #e4a213;
  /*点線*/
}
